<div class="counter-background" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1422207109431-97544339f995?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">

<div class="container">
<div style="height:500px; padding-top: 200px; padding-left: 200px" >

<h1 id="counter">
<%= @orders_pending %> - cafés suspendu(s) en attente</h1>
</h1>

<p><%= content_for @orders_pending %></p>

</div>


<% content_for :after_js do %>
  <script>
      App['partner_counter_#{@partner.id}'] = App.cable.subscriptions.create({
        channel: 'PartnerCountersChannel',
        counter_partner_id: <%= @partner.id %>
      }, {
        received: (data) => {
          console.log(data)
        const count = document.getElementById('counter')
        count.innerHTML = data.toto
        }
      })
  </script>
<% end %>
</div>

