<!-- start footer-section -->
<div class="footer">
    <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      <p>App réalisée avec beaucoup de <i class="fas fa-heart"> </i> et de <i class="fas fa-coffee"> </i> au <a href="https://www.lewagon.com/fr/lyon">Wagon</a> </p>
    </div>
</div>
<!-- /end footer-section -->
