<!-- start footer-section -->
<footer class="lc-footer-section">
        <div class="lc-copy-right">
            <div class="container">
                <div class="row vertical-center-row">
                    <div class="col-12 col-lg-5 col-md-12">
                        <div class="copyright">
                            <p>App réalisée avec beaucoup de <i class="fas fa-heart"> </i> et de <i class="fas fa-coffee"> </i> au <a href="https://www.lewagon.com/fr/lyon">Wagon</a> </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3 offset-lg-3">
                        <ul class="social-area">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</footer>
<!-- /end footer-section -->
