<div class="thanks-background" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551104907/Coffee%20app/background-beverage-breakfast-414645.jpg);">
  <div class="container">
    <div class="thank-you-title">
      <h1>Merci pour votre engagement !</h1>
    <img src="https://media.giphy.com/media/l3V0nKt696ClG9Xws/giphy.gif" alt="" class="source"></a></p>
  <br>
  <%= link_to 'Retour à la liste des cafés partenaires'.html_safe, partners_path, class: 'btn-ghost-white' %>
    </div>
  </div>
</div>
</div>

  <!--   <ul>
      <li>Status: <%= @order.state %></li>
      <li>Item: <%= @order.product_id %></li>
      <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
    <ul> -->




