

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551104885/Coffee%20app/adult-barista-beverage-1233530.jpg);">
  <div class="container">
    <h1>Café suspendu</h1>
    <p>la générosité au quotidien pour une consommation solidaire</p>
    <a class="btn btn-light" href="#">Trouver un café partenaire</a>
      <div class="search-button">
        <form action="">
          <input type="search">
          <i class="fa fa-search"></i>
        </form>

          <%= form_tag partners_path, method: :get, class: 'form-group' do %>
            <%= text_field_tag :lat,
              params[:lat],
              class: "form-control"
            %>
            <%= text_field_tag :long,
              params[:long],
              class: "form-control"
            %>
            <%= submit_tag 'Geoloc Me', class: 'btn btn-warning' %>
          <% end %>

      </div>
  </div>
</div>
