

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551104885/Coffee%20app/adult-barista-beverage-1233530.jpg);">
  <div class="container">
    <h1>Café suspendu</h1>
    <p>la générosité au quotidien pour une consommation solidaire</p>
    <a class="btn btn-light" href="#">Trouver un café partenaire</a>
      <div class="search-button">
        <form action="">
          <input type="search">
          <i class="fa fa-search"></i>
        </form>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput"></label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ça le fait ?">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="fais péter la géoloc...">
          </div>
        </form>
      </div>
  </div>
</div>
