<!--- Start banner --->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551104885/Coffee%20app/adult-barista-beverage-1233530.jpg);">
  <div class="container">
    <h1>Café suspendu</h1>
    <p>la générosité au quotidien pour une consommation solidaire</p>
    <p>trouver un café partenaire</p>
<!--- Start searchbar --->
      <div class="search-button" id=nice-search-button>
        <form action="" >
          <input type="search" id=input-algo>
          <i class="fa fa-search"></i>
      </div>
<!--- End searchbar --->

<!--- Start Hidden form --->
      <div id=geoloc-form type="hidden">
        </form>
          <%= form_tag partners_path, method: :get, class: 'form-group' do %>
            <%= text_field_tag :lat,
              params[:lat],
              class: "form-control"
            %>
            <%= text_field_tag :long,
              params[:long],
              class: "form-control"
            %>
            <%= submit_tag 'Geoloc Me', class: 'btn btn-warning' %>
          <% end %>
        </div>
      </div>
<!--- End Hidden form --->
  </div>
</div>
<!--- End banner --->

<!--- Start partners --->
  <div class="container">
    <div class="row">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>PARTNER</h2>
            <p>Trop cool ce café</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>PARTNER</h2>
            <p>Trop cool ce café</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>PARTNER</h2>
            <p>Trop cool ce café</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--- End partners --->

