<h2 style="text-align:center;">Become a Partner</h2>

<p style="text-align:center;">Page pour décrire le fonctionnement pour devenir un café partenaire</p>

<a href="/partners/new" class= "btn btn-large btn-primary">Go create a partner</a>
