.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.container-search {
  margin-right: 40px;
  i {
    margin-right: 10px;
  }
}

.btns-place {
  i {
    margin-right: 10px;
  }
}

.search-home{
  width: 700px;
  margin-top: 30px;
}

.home-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.text-banner h1 {
  margin-top: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.text-banner p {
  font-size: 32px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

#geoloc-form{
  display: none;
}

.ap-input {
  height: 50px;
  border-radius: 20px;
}
