.btn-ghost {
  color: black;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: white;
  background-color: black;
  font-weight: lighter;
}

.btn-warning{
  background-color: #45251B;
  border: 1px solid #45251B;
  font-weight: lighter;
}

.btn-warning:hover{
  background-color: black;
  border: 1px solid black;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-weight: lighter;
}
