
.wrapper_call{
  background-color: white;
  height: 350px;
}

.text-call-user{
  padding-bottom: 60px;
  padding-top: 60px;
}

.wrapper_partner{
  height: 350px;
}

.text-call-partner{
  padding-bottom: 60px;
  padding-top: 60px;
}
