.counter-body {
  margin: 0;
}

.wrap {
  background: white;
}

.flipper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  font-size: 164px;
  font-weight: bold;
  height: 200px;
  width: 150px;
  margin: 10px;
  padding: 20px;
  color: black;
  transition: all 0.25s ease;
  position: relative;
}

.flip {
  transform: rotateX(360deg);
}

.background-counter{
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter{
  display: flex;
  align-items: center;
  h1{
    color: white;
    text-align: center;
    }
}

.here{
  display: flex;
padding-top: 10%;
  padding-left:15%;
  h1{
    color: white;
    }
}
