.banner {
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551104885/Coffee%20app/adult-bar-business-302902.jpg);
}


.main-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // background-color: red;
  padding-top: 50px;
  padding-bottom: 50px;
}

.info-container {
  background-color: blue;
  height: 50vh;
  width: 350px;
}

.form-container {
  width: 700px;
}
