.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #171613;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  text-decoration: none;
  color: #45251B;
}

.footer-copyright{
   font-size : 16px;
   color: #171613;
   display: flex;
   align-items: center;
   a{
    text-decoration: none;
    color: #705946
   }
   p{
    margin: 0 0 0 0;
   }
}
