#footer {
  color:#c9c9c9;
  text-align:center;
  display:block;
  background-color:#2a2a2a;
  padding:30px 20px;
  margin-top:60px;
  -moz-box-shadow:inset 0px 3px 5px #2a2a2a;
  -webkit-box-shadow:inset 0px 3px 5px #2a2a2a;
  box-shadow:inset 0px 3px 5px #2a2a2a;
  position: relative;
}
  #footer a:link, #footer a:visited { color:#FFF; }
  #footer a:hover { color:#c0c0c0; }
