.thank-you-title {
  padding-top: 80px;
  padding-right: 30px;
  h1 {
    font-size: 38px;
    color: white;
  }
}

.thank-you {
 a{
  text-decoration: none;
  color: black;
  }
  padding-right: 30px;
  padding-bottom: 100px;
}

.thanks-background{
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
}

.counter-background{
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#counter{
  background-color: black;
  width: 800px;
  height: 200px;
  color: white;
  text-align: center;
  h1{
    position: absolute;
    text-align: center;
    vertical-align: center;
    color: white;
    text-align: center;
    }
}

