.thank-you-title {
  padding-top: 80px;
  padding-right: 30px;
  h1 {
    font-size: 38px;
    color: white;
  }
}

.source{

}

.thank-you {
 a{
  text-decoration: none;
  color: black;
  }
  padding-right: 30px;
  padding-bottom: 100px;
}

.thanks-background{
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
}
