.title-wrapper {
  width: 95%;
  margin: 0 auto;
  h1 {
    font-size:70px;
  }
}

.map-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}

.second-container {
  padding : 35px;
}

.partner-card {
  border: 1px solid black;
  height: 200px;
  margin-top: 20px;
}
