.partner-banner {
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551104885/Coffee%20app/adult-bar-business-302902.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-container {
}

.title-wrapper {
  h1 {
    font-size:48px;
    color: white;
    text-align:center;
    font-weight: 700;
  }
}

.second-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.map-container {
  height: 100vh;
  margin-top: 10px;
  margin-left: 5px;
  padding-right: 10px;
  position: sticky;
  top: 10px;
  flex-grow: 1;
}

.map-wrapper {
  width: 100%;
  position: absolute;
}

#map {
  height: 97vh;
  width: 97%;
}

.partners-list-container {
  width: 500px;
  padding-left: 30px;
}


.search-bar-container {
  z-index: 9;
  position: sticky;
  top: 0px;
  height: 55px;
  padding-top: 10px;
  border-radius: 0px 0px 30px 30px;
  background-color:white;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 15px;
  // #f2f2f2
}

.partner-search-bar {
  z-index: 10;
  height: 45px;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255, .9);
  box-shadow: 0px 1px 8px rgba(96, 96, 96, .7);
}

#input-styling-address {
    width: 100%;
    margin: 0 auto;
}

.partner-card {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(96, 96, 96, .5);
  height: 230px;
  margin-bottom: 10px;
  margin-right: -5px;
  margin-left: -5px;
  position: relative;
}

.partner-img {
  height: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid black;
}

.partner-name {
  z-index:2;
  position: absolute;
  left: 8px;
  bottom: 50px;
  h3 {
    color: black;
    border-top: 3px solid #black;
    font-size: 25px;
    background-color: #f2f2f2;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 10px;
  }
 }

.partner-address {
  z-index: 4;
  position: absolute;
  top: 10px;
  left:0px;
  p{
    font-size: 14px;
    color: white;
    text-align: left;
    padding-right: 20px;
    i{
      margin-left: 5px;
      margin-right: 5px;
      color: white;
      font-size: 14px;
    }
  }
}

.coffee-served {
  position: absolute;
  bottom: -10px;
  right:-2px;
  p{
    font-size: 12px;
    color: #171613;
    text-align: right;
    i{
      margin-left: 5px;
      margin-right: 5px;
      color: #171613;
      font-size: 18px;
    }
  }
}

.coffee-status {
  height: 65px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coffee-pending {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  height: 40px;
  width: 40px;
  padding-top: 10px;
  background-color: rgb(112, 89, 70);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(96, 96, 96, .5);
  // border: 1px solid #00C2B6;
}

.pending {
  p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: rgb(255, 255, 255);
    margin-right: 2px;
  }
}

.partner-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #705946;
  box-shadow: 0px 0px 10px rgba(96, 96, 96, .5);
  border-radius: 50%;
  color: white;
  font-size: 22px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  &:hover {
    color: #705946;
    border: 1px solid #705946;
    box-shadow: 0px 0px 10px rgba(96, 96, 96, .5);
    background-color: white;
    padding-right: 15px;
    transition: all .3s ease-out;
    border-radius: 40px;
  }
}

#show {
  height: 730px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(96, 96, 96, .5);
  margin-top: 10px;
  margin-left: 25px;
  position: sticky;
  top: 10px;
  width: 0px;
  @include transition(.2s width ease-in-out);
  // overflow: hidden;
  // 500px
}

#show.extends {
  width: 400px;
}

.info-partner {

}

.info-partner-img {
  height: 165px;
  background: linear-gradient(to left, rgba(71, 71, 71, .1), rgba(71, 71, 71, .3)), url(https://res.cloudinary.com/dojywbs2z/image/upload/v1551449644/Coffee/sospenso-partners-defaultpic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #black;
}

.info-partner-name {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -5px;
  h3 {
    color: #705946;
    font-weight: 600;
  }
}
.info-partner-desc {
  padding-left: 10px;
  padding-right: 10px;
  p, i {
    color: rgba(23, 22, 19, .6);
    font-size: 14px;
    margin-right: 8px;
    line-height: 2;
  }
}

.bref {
  padding-left: 10px;
  padding-right: 18px;
  p {
    color: #171613;
    font-size: 15px;
    line-height: 1.6;
    margin-right: 8px;
    text-align: justify;
  }
}

.dispo {
  p{
    font-size: 17px;
    color: #171613;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
    font-weight: 600;
  }
}

.coffee-status-bis {
  width: 95%;
  height: 65px;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #c6c6c6;
}

.coffee-pending-bis {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  height: 50px;
  width: 50px;
  padding-top: 10px;
  background-color: rgb(112, 89, 70);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(96, 96, 96, .5);
  // border: 1px solid #00C2B6;
}

.pending-bis {
  p {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: rgb(255, 255, 255);
    margin-right: 2px;
  }
}

.coffee-after {
  height: 65px;
  width: 95%;
  margin-top: 4px;
  margin-left: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}

.coffee-after-bis {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  height: 50px;
  width: 50px;
  padding-top: 10px;
  background-color: #f2f2f2;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(96, 96, 96, .5);
  border: 1px solid #705946;
}

.after-bis {
  p {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #705946;
    margin-right: 2px;
  }
}

.offer {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-top: 45px;
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
  i {
    margin-right: 20px;
  }
}

.edit-container {
  padding-left: 15px;
  margin-top: 25px;
}

.edit-text {
  p {
    font-size: 14px;
    text-decoration: underline;
    line-height: .3;
  }
}

.edit-btn {
  color:#705946;
  font-size: 14px;
}
