.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

h2{
  color: white;
  font-size: 28px;
}

.suscribed{
  padding-bottom: 20px;
}

.form-suscribe{
  padding-top: 80px;
  padding-bottom: 80px;
}

.suscribe-background{
  background-size: cover;
  background-position: center;
}

.form-control-label.string.required, .form-control-label.email.required, .form-control-label.password.required{
  color: transparent;
  font-size: 16px;
}

.form-text.text-muted{
  color: white;
  font-size: 12px;
}

.form-group{
  margin-bottom: 1px;
}

.form-group.password.required.user_password_confirmation{
  margin-bottom: 20px;
  margin-top: -15px;
}
